<!doctype html>
<html>
  <head>
    <title>Photo Sorter</title>
  </head>
  <body>
    <h1>Photo Sorter</h1>
    <hr>
    <div class="container" id="uploader" style="float:left; height:100px; width:300px;">
    <p>Upload Images</p>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <p><input type="file" name="images" multiple></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    </div>
    <div class="container" id="search" style="float:left; height:100px; width:300px;">
        <p>Remove Images</p>
        <form method="POST" action="/remove_upload">
            <input type="submit" name="remove_button" value="Delete Upload">
        </form>
    </div>

    <div class="container" id="search" style="float:left; height:100px; width:300px;">
    <p>Choose Query Image</p>
    <form method="POST" action="/similarimages" enctype="multipart/form-data">
        <p><input type="file" name="query" id="query"></p>
        <p><input type="submit" value="Search Similar"></p>
    </form>
    </div>
    
    <div class="container" id="duplicate" style="overflow:hidden; height:100px; width:300px;">
        <p>Find Duplicate Images</p>
        <form method="POST" action="/duplicates">
            <input type="submit" name="duplicate_button" value="Show Duplicates" >
        </form>
     </div>
    <span>
    <div class="container" id="image_container">
    <hr>
    {% for file in files %}
      <img src="{{ url_for('uploaded', filename=file) }}" style="height: 64px; width: 64px">
    {% endfor %}
    </div>
  </body>
</html>